---
# {{ ansible_managed }}
title: Homelab
theme: dark
color: slate
headerStyle: boxed
statusStyle: dot
hideVersion: true

layout:
  Infrastructure:
    style: row
    columns: 3
  Network:
    style: row
    columns: 2
  Home:
    style: row
    columns: 2
